/* -------STYLES RESPONSIVE------- */

@media(max-width:1000px){
    /* index */
    .ejemplos{
        width: 80%;

    }
}
@media(max-width:900px){
    /* work */
    .bloque div{
        width: 45%; 

    } 
     .bloque_imagen {
        width: 100%;

    }
    #texto{
        width: 55%;

    }
   
}

@media(max-width:850px){
    /* index */
    .ejemplos{
        height: 300px; 
    } 
}
@media(max-width:800px){
    .portada{
        width: 96%;
    
    }
   /* index */
   .intro{
    width: 80%;
    height: 800px;/* 900 */

    }
    .intro_titulo{
        font-size: 55px;
        line-height: 80px;
        padding-top: 15px;

    }
    .intro_parrafo{
        width: 85%;
        font-size: 20px;
        line-height: 35px;

    }
    .intro img{
        padding-bottom: 20px; 

    }
    .servicios_titulo{
        font-size: 20px;
    }
    .servicios_categorias{
        font-size: 20px;
        line-height: 55px;
        
    }
    .conclusion{
        height: 600px;

    } 
    .conclusion_titulo{
        font-size: 20px;
     
    }
    .conclusion_parrafo{
        width: 80%;
        font-size: 16px;
        line-height: 30px;
            
    }
    .conclusion_contacto{
        height: 100px;
        font-size: 20px; 
    }
    .ejemplos{
        width: 85%;
        height: 270px;

    }
    /* work */
      .bloque div:first-child{
        width: 60%; 
    
     } 
     .bloque div:last-child{
        width: 40%; 

     } 
     .bloque_imagen {
        width: 100%;


    }

}

@media(max-width:700px){
    
    /* index */
    .portada{
        width: 95%;
    
    }
    #logo{
        width: 55%;
        left: 35.6%;

      }
    .intro{
        width: 80%;
        height: 680px;
    
    }
    .intro_titulo{
        font-size: 52px;
        line-height: 79px;
    }
    .intro_parrafo{
        width: 89%;
    
    }
    .conclusion_parrafo{
        width: 85%;
                
    }
    .ejemplos{
        width: 85%;
        height: 270px;

    }
    .footer_nav a{
        font-size: 14px;
            
    }
    footer p{
        font-size: 10px;

    }
    .footer_nav img{
        height: 70px;
        
    }
    /* work / páginas */
    .contenido h1{/* deassin */
        width: 70%;
        font-size: 25px;
       
    }
    #tec h1{/* btehr */
        width: 75%;
        font-size: 24px;
      
      }
    #frase_rocio h1{/* rocio guerrero */
        width: 75%;
        font-size: 24px;
      
    }
    /* ewp */
    #ewp h1{
        font-size: 20px;
        padding-top: 40px;
        padding-bottom: 40px;;
      
      }
   
}

@media(max-width:606px){
    /* index */
    .intro_titulo{
        font-size: 45px;
        line-height: 65px;

    }
    .intro_parrafo{
        width: 90%;
        font-size: 18px;
        line-height: 30px;
        
    }
    .intro img{
        width: 80%;
        
    }
    .conclusion_titulo{
        font-size: 18px;
         
    }
    .conclusion_parrafo{
        font-size: 14px;
        line-height: 25px;
                
    }
    .conclusion_contacto{
        font-size: 18px;

    }
    .servicios{
        height: auto;

    }
    .servicios_titulo{
        font-size: 18px;

    }
    .servicios_categorias{
        font-size: 18px;
        line-height: 50px;
                
    }
    .ejemplos{
        width: 95%;
        height: 220px;

    }
    .footer_nav{
        width: 75%;

    }
    .footer_nav a{
        font-size: 12px;
        
    }
    .footer_nav img{
        height: 65px;
 
    }
   
    
}

@media(max-width:521px){
    
    /* index */
    #logo{
        top: 45%;
    }
    .intro {
        height: 620px;
    }
    .intro_titulo{
        font-size: 42px;
        line-height: 62px;

    }
    .intro img{
        width: 85%;
        height: auto;
        padding-bottom: 18px; 
        
    }

}

@media(max-width:480px){/* Samsung Galaxy Note 5 / 9 */

     /* COOKIES */
   .cookie-consent {
    width: 100%;
    height: 120px;
  }
       .cookie-consent p {
        width: 90%;
        font-size: 12px;

      }
  
  #acceptCookies {
    width: 90%;
    font-size: 16px;
    margin-top: 10px;
    width: 100px;
    height: 30px;
    
  }
    /* index */
    main{
        width: 100%;
        height: 75vh;
        flex-direction: row;

    }
    .portada{
        width: 92%;
        height: 95%;
        flex-direction: column;
        
    }
    .foto_portada{
        width: 100%;
        height: 70%;

    }
    #logo{
        width: 60%;
        position: absolute;
        top: 69.7%;
        left: 40%;
                    
    }
    .navbar_portada{
        width: 100%;
        height: 30%;
        flex-direction: row;
        align-items: flex-end;
        
    }
    .navbar_portada a{
        width:33%;
        transform: rotate(0deg);
        font-size: 18px;

    }
    .intro{
        height: 670px;
            
    }
    .intro_titulo{
        padding-top: 20px;
        font-size: 38px;
        line-height: 58px;

    }
    .intro img{
        width: 87%;
        
    }
    .servicios_categorias {
        width: 100%;
        height: 300px;

    }
    .conclusion_parrafo {
        text-align: left;

    }
    .ejemplos{
        width: 90%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;

    }
    .ejemplos a img{
        width: 100%;
        height: auto;
        padding-bottom: 15px;

    }
    .footer_nav{
        width: 90%;


    }
    .footer_nav a{
        width: 95%;
        font-size: 12px;

    }
    .footer_nav img{
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;

    }
    #logo_footer{
        height: 60px;
        padding-top: 10px;
        padding-bottom: 10px;
      
    }
    footer p {
        width: 90%;
        font-size: 8px;

    }
    /* about */
    .about_contenido div{
        width: 80%;

     }
    .about_contenido h5 {
        width: 75%;
        font-size: 16px;
        text-align: left;
        line-height: 33px;
        margin-bottom: 15%;
        margin-top: 15%;
    }
    .about_contenido h1 {
        width: 70%;
    
    }
   .parrafo{
        width: 100%;
        padding-top: 8%;
        padding-left: 0%;
        padding-right: 0%;
    } 
    .parrafo p {
        font-size: 14px;
        line-height: 25px;
       
    }
    .carita img {
        height: 110px;
        padding-top: 20px;
        padding-bottom: 30px;
    }
    /* work */
    .paginas_encabezado img {
        height: 110px;
    }
    .bloque{
        width: 85%;
        flex-direction:column;
        height:550px;

     }
     .bloque div:first-child{
        width: 100%;
        height: 50%;
      
     }
     .bloque div:last-child{
        width: 100%;
        height: 40%;
       
     }
     .bloque img{
        width: 90%;

    }
    .bloque_imagen {
        width: 90%;
        height: auto; 

    }
    .bloque_imagen::before {
        width: 90%;
        height: 90%;

    }
    #texto {
        width: 90%;
        display: flex;
        justify-content: center;
        
    }
    .contenido{
        width: 100%;/* 70 */
    
    }
    .imagen_portada img{
        width: 70%;
      }
    .contenido h1{
        width: 70%;
        height: 250px;
        font-size: 25px;
     
    }
    #tec h1{
        width: 70%;
        height: 250px;
        font-size: 25px; 

    }
    #imagen_deassin{
        width: 90%;

    }
    #imagenes_deassin{
        width: 90%;

    }
    #parrafo{
        width: 90%;
        height: 270px;
        
    }
    #parrafo p{
        font-size: 16px;
    
    }
    #parrafo p:nth-child(4){
        font-weight: bolder;

    }
    #parrafo a{
        font-size: 12px;

    }
    #parrafo_2{
        width: 90%;
  
    }
    #parrafo_2 p{
        font-size: 16px;

    }
    #campañas{
        flex-direction: column;
        justify-content: space-between;

      }
      #campañas div{
        width: 100%;

      }
      #campañas img{
       padding-top: 20px;

      }
    /* contact */
    .contact{
        width: 90%;
    
    }
    .formulario{
        width: 90%;

    }
    .field input{
        width: 70%;
        
    }
    /* work / página Rocio Guerrero */
    #frase_rocio h1{
        width: 90%;
        height: 170px;
        font-size: 16px; 
        
    }
    /* work / página EWP */
    #ewp h1{
        width: 90%;
        font-size: 16px; 
        
    }
    .avatares{
        width: 100%;
        padding-top: 20px;
        padding-bottom: 20px;
      
      }
      #avatares_A img{
        width: 30%;
      
      }
       #avatares_B img{
        width: 30%;
      
      }
    .politica_privacidad{
        width: 80%;
      
      }
      .imagen_portada img {
        width: 90%;
    }
    #parrafo_2 p {
        font-size: 18px;

    }
   
} 
             
@media(max-width:443px){/* Samsung Galaxy Note 5 / 9 */
    /* index */
    .intro{
        width: 85%;
 
    }
    .intro_titulo{
        font-size: 36px;
        line-height: 56px;

    }
    .intro_parrafo {
        width: 95%;

    }
    .intro img{
        width: 90%;
     
    }
    .footer_nav img {
        height: 60px;
    }
    .footer_nav a{
        font-size: 10px;
            
    }
    /* work */
    #texto h2 {
        width: 95%;
    }
    #imágenes_pantallas{
        width: 90%;
       }
    .contenido{
        width: 95%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border:solid 3px red;
    
    }  
    #imagen_portfolio{
        width: 100%;

    }   
    #imagenes_portfolio{
        width: 100%;

    }  
    .contenido_ewp{
        width: 95%;
      
    }
}
@media(max-width:404px){/* Samsung Galaxy Note 5 / 9 */
    /* index */
    #logo {
        width: 55%;
        left: 45%;
    }
    .navbar_portada a{
        width: auto;
        font-size: 16px;

    }
    .intro_titulo{
        font-size: 34px;
        line-height: 54px;

    }
    /* work / páginas */
    .contenido h1{
        width: 85%;
        height: 250px;
        font-size: 22px;
     
    }
    /* work / ewp */
    #ewp h1{
        width: 85%;
        font-size: 18px;
        line-height: 25px;
        padding-top: 35px;
        padding-bottom: 20px;;
      
      }
      #ewp h1:nth-child(2){
        padding-top: 0px;
        padding-bottom: 35px;;
      
      }
      #imágenes_pantallas{
        width: 100%;
       }
       #imágenes_pantallas img{
        width: 49%;

       }
          
}
@media(max-width:280px){/* Galaxy fold */
    .navbar a {/* navbar páginas */
        font-size: 14px;

    }
    /* index */
    .navbar_portada a {
        font-size: 14px;

    }
    .intro {
        height: 500px;

    }
    .intro_titulo {
        font-size: 25px;
        line-height: 34px;

    }
    .intro_parrafo {
        width: 100%;
        font-size: 14px;
        line-height: 26px;

    }
    .conclusion_parrafo {
        height: 800px;
    
    }
    .servicios_titulo {
        height: 60px;
        font-size: 16px;

    }
    .servicios_categorias {
        font-size: 14px;
        line-height: 38px;

    }
    .conclusion_titulo {
        height: 100px;
        font-size: 16px;

    }
    .conclusion_contacto {
        font-size: 16px;

    }
    .footer_nav img {
        height: 50px;

    }
    .footer_nav a {
        font-size: 9px;

    }
    .navbar a {
        font-size: 16px;

    }
    footer p {
        text-align: left;
        font-size: 10px;
    }
    /* contact */
    .field {
        height: 75px;
        width: 100%;
        font-size: 14px;
    
    }
    .field input {
        width: 65%;
    }
    #button{
        font-size: 18px;
    }
    /* work */
    .bloque{
        height:450px;
        width: 100%; 
    }
    .bloque div:first-child{
        width: 100%;
        height: 50%;

    }
    .bloque div:last-child{
        width: 100%;
        height: 50%;

     }
     .bloque img{
        width: 90%;

    }
    .bloque_imagen {
        width: 90%;
        height: auto; 

    }
    .bloque_imagen::before {
        width: 90%;
        height: 90%;

    } 
    #texto{
        justify-content: center;
     }
     #texto h1 {
        font-size: 18px;

    }
    #texto h2 {
        font-size: 14px;

    }
    #texto p{
        font-size: 12px;
   
    }
    .enlace{
        font-size: 10px;

    }
    /* work / páginas */
    .contenido h1 {
        width: 90%;
        height: 170px;
        font-size: 16px;
    }
    #tec h1{
        width: 90%;
        height: 170px;
        font-size: 16px; 
        
    }
  /*   .portada_paginas_work h1{
        font-size: 25px;

    }
    .portada_paginas_work h2{
        font-size: 20px;

    } */
    .imagen_portada img{
        width: 80%;
    }
   /*  #parrafo{
        height: 200px;
        
    } */
    #parrafo p{
        font-size: 12px;
        line-height: 30px;
    
    }
    #parrafo a{
        font-size: 10px;

    }
    #parrafo_2 p{
        font-size: 12px;
        line-height: 30px;

    }
      /* política de privacidad */
      .politica_privacidad{
        width: 80%;
      
    }
          
}

  
   
             
  
   
             