/* -------STYLES RESPONSIVE------- */

@media(max-width:1000px){
    /* index */
    .ejemplos{
        width: 80%;

    }
}

@media(max-width:850px){
    /* index */
    .ejemplos{
        height: 300px; 
    } 
}
@media(max-width:800px){
    .portada{
        width: 96%;
    
    }
   /* index */
   .intro{
    width: 80%;
    height: 800px;/* 900 */

}
    .intro_titulo{
        font-size: 55px;
        line-height: 80px;
        padding-top: 15px;

    }
    .intro_parrafo{
        width: 85%;
        font-size: 20px;
        line-height: 35px;

    }
    .intro img{
        padding-bottom: 20px; 

    }
    .servicios_titulo{
        font-size: 20px;
    }
    .servicios_categorias{
        font-size: 20px;
        line-height: 55px;
        
    }
    .conclusion{
        height: 600px;

    } 
    .conclusion_titulo{
        font-size: 20px;
     
    }
    .conclusion_parrafo{
        width: 80%;
        font-size: 16px;
        line-height: 30px;
            
    }
    .conclusion_contacto{
        height: 100px;
        font-size: 20px; 
    }
    .ejemplos{
        width: 85%;
        height: 270px;

    }

}

@media(max-width:700px){
    
    /* index */
    .portada{
        width: 95%;
    
    }
    #logo{
        width: 55%;
        left: 35.6%;

      }
    .intro{
        width: 80%;
        height: 680px;
    
    }
    .intro_titulo{
        font-size: 52px;
        line-height: 79px;
    }
    .intro_parrafo{
        width: 89%;
    
    }
    .conclusion_parrafo{
        width: 85%;
                
    }
    .ejemplos{
        width: 85%;
        height: 270px;

    }
    .footer_nav a{
        font-size: 14px;
            
    }
    footer p {
        font-size: 10px;

    }
    .footer_nav img{
        height: 70px;
        
    }
   
}

@media(max-width:606px){
    /* index */
    .intro_titulo{
        font-size: 45px;
        line-height: 65px;

    }
    .intro_parrafo{
        width: 90%;
        font-size: 18px;
        line-height: 30px;
        
    }
    .intro img{
        padding-bottom: 15px;
        
    }
    .conclusion_titulo{
        font-size: 18px;
         
    }
    .conclusion_parrafo{
        font-size: 14px;
        line-height: 25px;
                
    }
    .conclusion_contacto{
        font-size: 18px;

    }
    .servicios{
        height: auto;

    }
    .servicios_titulo{
        font-size: 18px;

    }
    .servicios_categorias{
        font-size: 18px;
        line-height: 50px;
/*         height: 300px;
        background-size: cover; */
                
    }
    .ejemplos{
        width: 95%;
        height: 220px;

    }
    .footer_nav a{
        font-size: 12px;
        
    }
    .footer_nav img{
        height: 65px;
 
    }
    
}

@media(max-width:521px){
    
    /* index */
    #logo{
        top: 45%;
    }
    .intro {
        height: 620px;
    }
    .intro_titulo{
        font-size: 42px;
        line-height: 62px;

    }
    .intro img{
        padding-bottom: 15px; 
        
    }

}

@media(max-width:480px){/* Samsung Galaxy Note 5 / 9 */
    /* index */
    main{
        width: 100%;
        height: 75vh;/* 100vh */
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

    }
    .portada{
        width: 92%;
        height: 92%;
        flex-direction: column;
        
    }
    .foto_portada{
        width: 100%;
        height: 75%;

    }
    #logo{
        width: 60%;
        position: absolute;
        top: 64.3%;
        left: 40%;
                    
    }
    .navbar_portada{
        width: 100%;
        height: 25%;
        flex-direction: row;
        align-items: flex-end;
        
    }
    .navbar_portada a{
        width:33%;
        transform: rotate(0deg);
        font-size: 18px;

    }
    .intro{
        height: 600px;
            
    }
    .intro_titulo{
        font-size: 38px;
        line-height: 58px;

    }
    .conclusion_parrafo {
        text-align: left;
    }
    .ejemplos{
        width: 70%;
        height: auto;
        flex-direction: column;
        justify-content: center;
        align-items:center;

    }
    .ejemplos a img{
        width: 100%;
        height: auto;
        padding-bottom: 15px;

    }
    .footer_nav a{
        font-size: 12px;

    }
    .footer_nav img{
        height: 60px;
        
    }
    footer p {
        font-size: 8px;

    }
             
}
             
@media(max-width:412px){/* IPHONE */
    /* index */
    .intro{
        height: 500px;
                
    }
    .intro_titulo{
        font-size: 35px;
        line-height: 56px;
    }
    .footer_nav img{
        padding-top: 10%;
        height: 50px;
                            
    }

}
  
   
             
  
   
             