 /* TIPOGRAFÍAS */
@font-face {
   font-family: 'Aesthetic-Regular'; /* Comprada - https://nirmanavisual.com  - standar*/
   src: url(tipografías/Aesthetic-Regular.woff2) format('woff2'),
        url(tipografías/Aesthetic-Regular.woff) format('woff'),
        url(tipografías/Aesthetic-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;

} 
@font-face {
    font-family: 'nib-regular-pro'; /* Deassin - portfolio - comprada por Deassín */
    src: url(tipografías/nib-regular-pro.woff2) format('woff2'),
         url(tipografías/nib-regular-pro.woff) format('woff'),
         url(tipografías/nib-regular-pro.ttf) format('truetype');
    font-weight: normal;
    font-style: normal;

 }
/* ESTILOS GENERALES */
:root {
  /* Colores */
  --color-primario: #091DD0;
  --color-secundario:  #ffc0cb;
  --color-acento:  #DBFF01;
  --color-fondo: #F5F5EC;
  --color-texto: #091DD0;

  /* Tipografía */
  --fuente-principal:'Noto Serif', serif;
  --fuente-secundaria: 'Helvetica', sans-serif;
  --fuente-acento: 'Aesthetic-Regular', serif;

  /* Tamaños de texto */
 /*  --h1-size: 8vw; */
  --h1-size: clamp(3rem, 8vw, 10rem);
  /* --h1-line_height: 6.5vw; */
  --h1-line_height: clamp(2.5rem, 6.5vw, 8rem);

  --h2-size:clamp(1.6rem, 6vw, 8rem); /* 6vw; */
  --h2-line_height: clamp(2rem, 6.5vw, 6rem);/* 6.5vw; */

  --h3-size:clamp(1.5rem, 4vw, 8rem); /* 4vw; */
  --h3-line_height:clamp(1.5rem, 4.5vw, 6rem); /* 4.5vw; */

  --h4-size: clamp(1.5rem, 3vw, 4rem);/* 3vw; */
  --h4-line_height:clamp(2rem, 3vw, 4.5rem);/* 3vw; */

  --p-size: clamp(18px, 22px, 25px);/* 22px; */
  --p-line_height:clamp(28px, 32px, 35px); /* 32px; */

  /* Espaciado */
  --spacing-sm: 0.5rem;
  --spacing-md: 1rem;
  --spacing-lg: 2rem;

  /* Bordes y sombras */
  --border-radius: 8px;
  --shadow-soft: 0 4px 8px rgba(0,0,0,0.1);

}
*{
  padding: 0;
  margin:0;

}
body {
  width: 100%;
  height: auto;
  overflow-x: auto;
  overflow-y:scroll;
  position: relative;
  color: var(--color-texto);
  background-color: var(--color-fondo);
  font-family: var(--fuente-principal);
  cursor: url(img/cursores/cursor_azul.png) 16 16, auto; 

}
h1, h2 , h3{
  color: var(--color-primario);
  font-family: var(--fuente-secundaria);

}
h1{
  font-size: var(--h1-size);
  line-height: var(--h1-line_height);

}
h2{
  font-size: var(--h2-size);
  line-height: var(--h2-line_height);
  font-weight: bold;
  font-style: normal;

}
h3{
  font-size: var(--h3-size);
  line-height: var(--h3-line_height);
  font-weight: 100;
  font-style: normal;

}
h4{
  font-size: var(--h4-size);
  line-height: var(--h4-line_height);
  font-family: var(--fuente-principal);
  font-weight: 300;
  font-style: normal;

}
p {
  font-size: var(--p-size);
  line-height:var(--p-line_height);
  color: var(--color-texto);
  font-family: var(--fuente-principal);
  font-style: normal;
  font-weight: 300;

}
button {
  background-color: var(--color-primario);
  color: var(--color-fondo);
  padding: var(--spacing-sm) var(--spacing-md);
  box-shadow: var(--shadow-soft);
  font-family: var(--fuente-secundaria);
  font-weight: 100;

}
a:link, a:visited, a:active {
  text-decoration: none;
  font-family: var(--fuente-secundaria);
  color: var(--color-primario);
    
}
a:hover{
  text-decoration: none;
  color: var(--color-acento);
  
}
/* -------- COOKIES -------- */
#cookieConsentBanner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;
  background-color:var(--color-secundario);
  border-radius: 10px;

 }
  .cookie-consent {
    width: 600px;
    height: 250px;
    top: calc(100vh - 300px);
    right:50px;
    position: absolute;
    justify-content: end;
    align-items: center; 
    text-align: end;
    cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;

  }
  @keyframes hideBanner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }

  }
  .cookie-consent.hidden {
    display: none;
    animation: hideBanner 0.3s forwards;

  }
  .cookie-consent p {
    width: 90%;
    color:var(--color-primario);
    font-family: var(--fuente-principal);
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    text-align:left;
    padding: 50px;

  }
    #acceptCookies {
      width: auto;
      height: auto;
      background-color:var(--color-secundario);
      display: flex; 
      justify-content: center;
      align-items: center;
      text-align: center;
      font-family: var(--fuente-secundaria);
      font-style:bold;
      font-weight: 100;
      color:  var(--color-primario);
      border: none;
      text-decoration: none;
      cursor: url(img/cursores/cursor_fluor.png) 16 16, auto;
      font-size: 20px;
      padding: 15px;

    }
      #acceptCookies:hover{
        font-weight: bolder;
        color:var(--color-acento);

      }
 /* ----------BANNER--------- */
 section.banner{
    background-color:var(--color-primario);
    width:100%;
    height:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    position: relative;
    overflow: hidden;

  }
    .marquee {
      display: inline-block;
      white-space: nowrap;
      padding-left: 0%;
      animation: marquee 15s linear infinite;
      display: inline-block;

    }
      .marquee p {
        display: inline-block;
        color:var(--color-acento);
        font-family: var(--fuente-secundaria);
        text-transform:uppercase;
        font-style: normal;
        font-weight: 300;
        text-align:center;

      } 
      @keyframes marquee {
        0% {
          transform: translateX(100%);
        }
        100% {
          transform: translateX(-100%);
        }

      }
 /* ---------PORTADA / header ---------- */
main{
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.1);
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

}
  .portada{
    width: 97%;
    height: 95%; 
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    transform: translateX(-100%);
    animation: reveal 2s ease forwards;
    border-radius: 5px;
            
  }
  @keyframes cambiarColor {/* polaroids (index & about) */
    0% {
      box-shadow: 0 0 20px rgba(255, 255, 0, 0.8);
    }
    50% {
      box-shadow: 0 0 20px rgba(255, 182, 193, 0.8);
    }
    100% {
       box-shadow: 0 0 20px rgba(70, 130, 180, 0.8);
    }

  }
   @keyframes reveal {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
  .foto_portada{
    width: 75%;
    height: 100%;
    opacity: 0.1;
    animation: fadeIn 5s ease forwards;
    border-radius: 6px;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);

  }
  @keyframes fadeIn {
    from { opacity: 0.2; }
    to   { opacity: 1; }
  }
  #foto_fondo{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 6px;
   /*  filter:contrast(0.8); */

  }
  @keyframes animacion{/* logos (index & about) */
    0%{
      transform: scale(1.2);
    }
    100%{
      transform: scale(1.0);
    }

  }
  #logo{
    width: 45%;
    position: absolute;
    top: 40%;
    left: 43.3%;
    transition:transform 0.5s ;
    animation: animacion 4S forwards;
    /* mix-blend-mode:difference; */
            
  }
  .navbar_portada{
    width: 10%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;
            
  }
    .navbar_portada a{
      width: 200px;
      transform: rotate(90deg);
      text-align: center;
      font-family: var(--color-primario);
      font-size: 22px;
      font-style: normal;
      font-weight: 300;

    }
       .navbar a:hover{
      font-weight: bolder;
      color: var(--color-acento)!important;
      cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
                
    } 
/* CUERPO */
aside{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
    
}
  .intro{
    width: 70%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content:space-around;
    align-items: center;

  }
  .intro_titulo{
    width: 100%;
    text-align: left;
    padding-top: 100px;
              
  }
  .intro_parrafo{
    width: 80%;
    text-align: left;
    text-transform: uppercase;
    padding-top: 50px;
    padding-bottom: 100px;

  }
/* SERVICIOS */
.servicios{
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

} 
  .servicios_titulo{
    width: 100%;
    border-block: 5px solid var(--color-primario);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;

    position: relative;
    overflow: hidden;

  }
  .servicios_titulo h3{
    display: inline-block;

  }
  .servicios_categorias{
    width: calc(100% - 100px);
    width: 100%;
    height:800px;
    background: url("img/jens-riesenberg-LzxC02FheMs-unsplash.jpg") center/cover no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
    padding-left: 100px;
    padding-bottom: 100px;

  }
    .servicios_categorias h2{
      background-color: var(--color-secundario);

    }
/* DÍPTICO > CONCLUSIÓN */                    
.conclusion{
  width: 100%;
  height: 750px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  
} 
  .conclusion_img{
    width: 50%;
    height:100%;
    background: url("img/portadas/Mockup_AVL_vitrina.jpg") center/cover no-repeat;

  }
  .conclusion_parrafo{
    width: 50%;
    height:100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
                
  }
    .conclusion_parrafo p{
      width: 80%;
      margin-bottom: 25px;
      text-align: justify;

    }
    .conclusion_parrafo button{
      width: 250px;
      margin-top: 25px;
      align-items: center;
      text-align: center;
      background-color: var(--color-primario);
      color: var(--color-fondo);
      font-family: var(--fuente-secundaria);
      font-weight: 100;
      font-size: 18px;
      border: none;
      text-decoration: none;
      padding: 25px;
      
    }
      .conclusion_parrafo button:hover{
        cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;
        color:var(--color-secundario);
        font-weight: bolder;
        text-decoration: none;

      }
/* CARDS */
.ejemplos{
  width: 90%;
  height: auto;
  padding-top: 10vh;
  padding-bottom: 10vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  }
    .card{
      width: 24%;

    }
    .card img{
      width: 100%;
      height: auto;
                
    }
      .card img:hover{
        transform: scale(0.9);
        transition: all 1s ease;
        animation: cambiarColor 3s infinite alternate; 
        cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;

      }
/* -------- FOOTER -------- */
footer{
    width: 100%;
    height: auto;
    background-color: var(--color-primario);
    color: var(--color-fondo);
    text-align: center;
    font-family: var(--fuente-principal);
    font-size: 12px;
    font-style: normal;
    font-weight: 100;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;

}
  .footer_nav{
    width: 70%;
    height: auto;
    color: var(--color-fondo);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

  }
    .footer_nav a{
      width: 80%; 
      height: auto;
      color: var(--color-fondo);
      font-family: var(--fuente-principal);
      font-size: 18px;
      font-style: normal;
      font-weight: 200;
    
    }
     .footer_nav a:hover{
        font-weight: bolder;
        color: var(--color-acento)!important;
        cursor: url(img/cursores/cursor_rosa_5.png) 16 16, auto;
        
      }
    .footer_nav img{
      height: 100px;
      padding-top: 20px;
      padding-bottom: 20px;

    }
    #logo_footer{
      height: 100px;
      padding-top: 20px;
      padding-bottom: 20px;
      
    }
    footer p{
        width: 70%;
        height: auto;
        display: flex;
        justify-content: left;
        margin: 2%;
        color: var(--color-fondo);
        font-size: 12px;

    }
    .footer_redes{
        width: 70%;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: left;
        align-items:center;

    }
      .footer_redes a{
        width:auto;
        height:auto;
        display: flex;
        justify-content: left;
        margin: 2%;
        color: var(--color-fondo);
        font-size: 14px;
        cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
        
      }
        .footer_redes a:hover{
          font-weight: bolder;
          color: var(--color-secundario)!important;
          cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
            
        }
/* ----------------------------- NAVBAR DE ABOUT / CONTACT & WORK (PORTFOLIO) --------------------------------------------- */
#paginas{
  width: 100%;
  height: auto;
  background-color:var(--color-fondo);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: 65%;
  background-position: center top 50px;

}
.navbar{
  width: 100%;
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: var(--color-primario);
   cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;
  
}
  .navbar a{
    width: 33.3%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Noto Serif",serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 300;
     color: var(--color-fondo) !important;
  
  }
    .navbar a:hover{
      font-weight: 400;
      color: var(--color-acento);
      cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
                
    } 
/* ----------------------------- CONTACT.HTML --------------------------------------------- */
#fondo_contact{
  background-position: right bottom;
  background-size: 30%;
  background-repeat: no-repeat;

}
.contact{
    width: 75%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  .direccion{
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-position: center bottom;
    background-size: 25%;
    background-repeat: no-repeat;
         
  }
    .direccion h1{
      width: 100%;
      text-align: center;
      font-family: var(--fuente-acento);
      font-size: 30px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
      text-transform: lowercase;

    } 
    .direccion h3{
      text-align: center;
      font-family: var(--fuente-principal);
      font-size: 12px;
      font-style: normal;
      font-weight: 300;
      line-height: 20px;
        
    }
    .formulario{
      width: 70%;
      height: auto;
      margin-bottom: 100px;
         
    }
      .formulario h1{
        font-family:var(--fuente-secundaria);
        font-size: 3vw;
        line-height: 50px;
      
      }
      #form{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content:center;
        align-items: center;

      }
        .field{
          height: 75px;
          width: 100%;
          font-family: var(--fuente-principal);
          font-size: 18px;
          font-style: normal;
          font-weight: 200;
          line-height: normal;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          text-decoration: none;
          border: none;
        
        }
          .field label{
            width: 20%;
                
          }
          .field input{
            width: 80%;
            height: 30%;
            border: none;
            border-bottom: solid 2px var(--color-primario);
            font-family: var(--fuente-principal);
            background-color: transparent;
 
          }
            .field input::placeholder{
              color:rgba(9, 29, 208, 0.6);
              font-family: var(--fuente-secundaria);
              font-size: 15px;
            
            }
          #mensaje textarea{
            width: 80%;
            height: 30%;
            background-color: var(--color-fondo);
            border: none;
            border-bottom: solid 2px var(--color-primario);

          }
            #mensaje textarea::placeholder{
              color:rgba(9, 29, 208, 0.6);
              font-family: var(--fuente-secundaria);
              font-size: 15px;
            

            }
            #button{
              width: 250px;
              text-decoration: none;
              background-color: var(--color-primario);
              color: var(--color-fondo);
              border: none;
              text-align: center;
              font-family:var(--fuente-secundaria);
              font-size: 18px;
              font-style: normal;
              font-weight: 100;
              display: flex;
              flex-direction: row;
              justify-items: center;
              justify-content: center;
              padding: 15px;
              margin-top: 50px;

            }
              #button:hover{
                font-weight: bolder;
                color: var(--color-secundario);
                cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;

            }
.rodamiento {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

}
  .rodamiento img{
    height: 100px;
                  
  }
  @keyframes girar {
    0% {
     transform: rotate(0deg) translateX(0);
    }
    100% {
     transform: rotate(360deg) translateX(60vw);
    }

  }
  .imagen-giratoria {
    position: absolute;
   animation: girar 12s linear infinite; /* 10s es la duración, ajusta según tus necesidades */

  }
/* ----------------------------- PORTFOLIO.HTML | WORK --------------------------------------------- */
.cartel{
  width: 100%;
  height: calc(100vh - 50px);
  border-bottom: solid 50px #091DD0;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-bottom: 5vh;
  
}
.cartel_columna{
  display: inline block;
  flex-direction: row;
  width: 100%;
  height: auto;
  overflow:hidden;
  font-family: var(--fuente-principal);
  font-weight: 200;
  font-size: calc(25px + 2.3vw);
  position: relative;

}
  .cartel_columna_contenido{
    display: inline-block;
    white-space: nowrap;
    padding-left: 0%;
    animation: frase 20s linear infinite;

  }
  .cartel_columna_contenido_impar{
    display: inline-block;
    white-space: nowrap;
    padding-left: 0%;
    animation: frase_inversa 20s linear;

  }
  .cartel_columna_image{
    width: auto;
    height: calc(30px + 5vh);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;

  }
    .cartel_columna_image:hover{
      cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;

    }
    @keyframes frase {
      0% {
          transform: translateX(0%);
      }
      50% {
          transform: translateX(-15%);
      }
      100%{
        transform: translateX(0%);
      }
   }
    @keyframes frase_inversa {
       0% {
          transform: translateX(0%);
       }
       25%{
        transform: translateX(0%);

       }
       50% {
        transform: translateX(-10%);
       }
       100%{
        transform: translateX(0%);
    }
  }

/* ------------------------------- */
.paginas_encabezado{
  width: 90%;
  height: 230px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
  .paginas_encabezado img{
    height: 130px;

  }
  .paginas_encabezado h1{
    text-align: center;
    font-family: 'Aesthetic-Regular';
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-transform: lowercase; 

     } 
.conjunto_bloques{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height:auto;

}
  .bloque{
    width: 85%;
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height:400px;
   /*  border-bottom: solid 2px #091DD0; */

  }
    .bloque div{
      width: 50%;
      height: 400px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
        
    }
      .bloque:last-child{
        border-bottom: none; 

      }
    .bloque img{
      width: 80%;
      height: auto;
      border-radius: 10px;
      object-fit: cover;

    }
      .bloque_imagen {/*HOVER imagenes PORTFOLIO*/
        width: 80%;
        height: 80%; /* auto */
        position: relative;
        overflow: hidden;
        object-fit: cover;

      }
      .bloque_imagen::before {
        position: absolute;
        width: 80%;
        height: 85%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: background-color 0.3s ease-in-out; 
        z-index: 1;

      }
/*  ---------------IMÁGENES PORTFOLIO | HOVER --------------- */
                  #la_heredera:hover::before {
                    content: "";/* www.laheredera.es */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/la_heredera_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;
              
                  } 
                  #alvaro_gomis:hover::before {
                    content: "";/* www.alvarogomis.com */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/alvaro_gomis_web_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;
              
                  } 
                  #amaya_garcia:hover::before {
                    content: "";/* www.amayagarcia.com */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/amaya_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;
              
                  } 
    
                  #unmap:hover::before {
                    content: "";/* www.unmap.es */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/unmap_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;
              
                  } 
                  
                  #deassin:hover::before {
                    content: "";/* www.deassin.es */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/deassin_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;
              
                  } 
                  #guerrero:hover::before {
                    content: "";/* www.rocioguerrero.art */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/guerrero_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #btehr:hover::before {
                    content: ""; /* www.btehr.com */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal; 
                    background-image: url(img/portfolio/btehr_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #ewp:hover::before {
                    content: "";/* app */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/ewp_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #imbd:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/imbd_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #velvet:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/velvet_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #hola:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/tarjeta_hola!_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #primavera:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/primavera_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  } 
                  #kaiku:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/kaiku_hover.png);
                    background-repeat: no-repeat;
                    background-size:101%;
                    background-position: center;

                  }
                  #boheart:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/boheart_hover.png);
                    background-repeat: no-repeat;
                    background-size:100%;
                    background-position: center;

                  } 
                  #pintura:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    /* font-size: 15px; */
                    font-style: normal;
                    background-image: url(img/portfolio/pintura_hover.png);
                    background-repeat: no-repeat;
                    background-size:100%;
                    background-position: center;

                  }
                  #becker:hover::before {
                    content: "";/* behance */
                    font-family: "Noto Serif",serif;
                    font-weight: 300;
                    font-size: 15px;
                    font-style: normal;
                    background-image: url(img/portfolio/rrss_becker&co.png);
                    background-repeat: no-repeat;
                    background-size:100%;
                    background-position: center;

                  }
                #texto{
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;

                }
                
                #texto h1{
                    text-align: center;
                    font-style: normal;
                    font-family: "Noto Serif",serif;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    text-transform: uppercase;
                    font-size: 20px;
                    

                }
                     #texto h1:hover{
                        text-decoration:underline;
                        cursor: url(img/cursores/cursor_amarillo.png)16 16, auto;
        
                    }

                #texto h2{
                    padding-top: 15px;
                    text-align: center;
                    font-family: "Noto Serif",serif;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 16px;
                    width: 80%;

                }
                #texto p{
                    text-align: center;
                    font-family: "Noto Serif",serif;
                    font-style: normal;
                    font-weight: 300;
                    line-height: normal;
                    font-size: 14px;
                    padding-top: 15px;
                    padding-bottom: 3px ;
               
                }
                      .enlace{
                        text-align: center;
                        font-size: 12px;
                        font-family: "Noto Serif",serif;
                        font-style: normal;
                        font-weight: 400;

                      }
                           .enlace:hover{
                            cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
                            font-weight: 500;
    
                          }
/* ----------------------------- ABOUT.HTML | SOBRE EL ESTUDIO --------------------------------------------- */
.about_contenido{
    width: 100%;
    height: auto; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 8%;
    margin-top: 8%;

}
     .about_contenido div{
        width: 70%;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;

     }

          .about_contenido h5{
            width: 65%;
            text-align: left;
            font-family: 'Noto Serif', serif;
            font-size: 20px;
            font-style: normal;
            font-weight: 300;
            line-height: 35px;

          }  
          
         .about_contenido h4{ 
            margin-top: 8%;
            margin-bottom: 5%;
            width: 80%;
  
        }   
        .about_contenido button{
          align-items: center;
          text-align: center;
          font-size: 22px;
          font-weight: 100;
          text-transform: uppercase;
          border: none;
          text-decoration: none;
          margin-bottom: 8%;
          margin-top: 8%;

      } 
           button:hover{
            cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
      
           }
         .parrafo {
            width: 70%;

          } 
             .parrafo p{
                text-align: justify;
                 padding-bottom: 18px;
                
              }
              .parrafo span{
                font-family: var(--fuente-secundaria);
                font-weight: 700;
                text-transform: uppercase;
              }
              #oculto {
                display: none;
                margin-bottom: 8%;
          
              }
               #fin{
                padding-bottom: 10%;
               }
              .loguito_animacion{
                width: 100%;
                height: 320px;
                transition: transform 0.5s;
                display: flex;
                justify-content: center;
                align-items: center;
              } 
                 .loguito_animacion img{
                    height: 150px;
                    transition: transform 1.0s;
                 }
                 @keyframes latido {
                  0% {
                    transform: scale(1.0);
                
                  }
                  50% {
                    transform: scale(1.4);
                  }
                  100% {
                    transform: scale(1.0);
                  }
                }
                    .loguito_animacion img:hover{
                      animation: latido 5s forwards;

                    }
          .conclusion_contacto a{
            background-color: var(--color-primario);
            color: var(--color-fondo);
            text-align: center;
            padding: 10px;
            font-family: var(--fuente-secundaria);
            font-weight: 100;
            font-size: 18px;

          }
           .conclusion_contacto a:hover{
            color: pink;
            cursor: url(img/cursores/cursor_amarillo.png) 16 16, auto;
          
          }
/* ----------------------------- LEGAL.HTML | POLÍTICA DE PRIVACIDAD --------------------------------------------- */

.politica_privacidad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 50%;

}
.politica_privacidad p{
  text-align: left;
  font-family: "Noto Serif",serif;
  font-style: normal;
  font-weight: 300;
  line-height: 28px;
  font-size: 18px;
  padding-top: 15px;
  padding-bottom: 3px ;

}
.politica_privacidad h3{
  text-align: left;
  font-family: Helvetica, sans-serif;
  font-style: normal;
  font-weight: 100;
  line-height: 40px;
  font-size: 30px;
  padding-top: 20px;
  padding-bottom: 20px ;

}
#texto_legal{
  padding-bottom: 70px;

}
.boton_legal button{
  width: 250px;
  text-decoration: none;
  background-color: var(--color-primario);
  color: var(--color-fondo);
  border: none;
  text-align: center;
  font-family:var(--fuente-secundaria);
  font-size: 18px;
  font-style: normal;
  font-weight: 100;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  padding: 15px;
  margin-bottom: 20%;
                
}
              
    .boton_legal button:hover{
      cursor: url(img/cursores/cursor_rosa.png) 16 16, auto;
      color:var(--color-secundario);
      font-weight: bolder;
      text-decoration: none;
    
    }
    
    

                
      
